<<<<<<< Updated upstream
h1 {
  color: red;
}
=======
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: darkslategrey;
  font-family: 'Baumans', 'Courier New', Courier, monospace;
  user-select: none;
}

.container {
  padding: 1rem;
}

header {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  padding: 0.6rem 1rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 1px 3px 0 black;
}

.logo {
  flex: 1;
}

h1 {
  font-size: 30px;
  color: red;
}

h1 img {
  width: 21px;
}

.menu {
  flex: 1;
  display: none;
  justify-content: space-around;
  font-size: x-large;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  background-color: lightsteelblue;
  padding: 2rem;
  order: 999;
}

.x-menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.active {
  border: solid 1px;
  border-left: 0;
  border-right: 0;
}

.menu a {
  margin: 0 1px;
  padding: 1rem;
  border-radius: 1rem;
}

.menu a:hover {
  border: solid 1px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: yellow;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 9px 0 darkgoldenrod;
  justify-content: end;
}

.popup img {
  align-self: center;
  width: 100%;
}

.cards li img {
  max-width: 100%;
  aspect-ratio: 1/1;
}

.popup h2 {
  align-self: center;
}

.cards li h2 {
  align-self: center;
}

footer p {
  font-size: 14px;
  color: white;
}

.cards li p {
  display: flex;
  justify-content: space-between;
}

.cards li p a:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.cards li button {
  padding: 1rem;
  font-size: large;
  border-radius: 0 1rem 1rem 1rem;
}

.cards li button:hover {
  font-weight: bold;
  background-color: darkslategrey;
  border: solid white 2px;
  color: white;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2rem;
  background-color: lightgoldenrodyellow;
  box-shadow: 1rem 1rem 3rem 0 darkslategrey;
  overflow-y: scroll;
  display: none;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  order: 9999;
}

.close {
  position: sticky;
  top: 0;
  left: 0;
  font-size: 2rem;
  background-color: lightgoldenrodyellow;
  align-self: flex-start;
  border-radius: 50%;
  aspect-ratio: 1/1;
  text-align: center;
  box-shadow: 0 0 1rem 1rem lightgoldenrodyellow;
  cursor: default;
}

.close:hover {
  color: red;
}

.features {
  display: grid;
  grid-template-columns: auto;
  row-gap: 1rem;
}

.popup li {
  padding-bottom: 1rem;
}

.popup form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popup form * {
  padding: 1rem;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus {
  outline: solid goldenrod;
  border: solid yellow 1px;
}

footer {
  position: sticky;
  background-color: darkslategrey;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.6rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

@media screen and (min-width: 600px) {
  .cards {
    grid-template-columns: 48% 48%;
    column-gap:4%;
  }

  .features {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 768px){
  .cards {
    grid-template-columns: 31.5% 31.5% 31.5% ;
    column-gap: 2.75%;
  }

  .menu-icon{
    display: none;
  }

  .logo {
    flex: none;
  }

  .x-menu {
    display: none;
  }

  .menu {
    flex: 1;
    display: flex;
    position: static;
    flex-direction: row;
    padding: 1rem;
    background: none;
  }

  h1 {
    font-size: 50px;
  }
  
  h1 img {
    width: 35px;
  }

}

@media only screen and (min-width: 992px){
  .cards {
    grid-template-columns: 23% 23% 23% 23% ;
    column-gap: 2.67%;
  }

  .popup{
    padding: 2rem;
  }
}
>>>>>>> Stashed changes
